<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.overstar.elasticsearch.mapper.common.ProductDocumentMapper">


  <select id="loadGoodsResource" resultType="com.overstar.elasticsearch.bean.ProductDocument">
    SELECT
    a.product_id AS productId,
    a.product_name_zh AS productNameZh,
    a.product_name_en AS productNameEn,
    GROUP_CONCAT(DISTINCT c.tag_name_zh) AS tagNamesZh,
    GROUP_CONCAT(DISTINCT e.country_name_zh) AS countryNameZh,
    GROUP_CONCAT(DISTINCT e.country_name_en) AS countryNameEn,
    GROUP_CONCAT(DISTINCT f.city_name_en) AS cityNameEn,
    GROUP_CONCAT(DISTINCT f.city_name_zh) AS cityNameZh,
    GROUP_CONCAT(DISTINCT h.location_name_zh) AS viewspotsZh,
    s.supplier_name as supplierName
    FROM
    product_base a
    LEFT JOIN tag_entity_mapping b ON a.product_id = b.mapping_id AND b.mapping_type = 1
    LEFT JOIN tag_entity c ON b.tag_id = c.tag_id AND c.deleted = 0
    LEFT JOIN product_country_mapping d ON a.product_id = d.product_id
    LEFT JOIN country e ON d.country_id = e.country_id
    LEFT JOIN city f ON d.city_id = f.city_id
    LEFT JOIN product_viewspot_mapping g ON a.product_id=g.product_id
    LEFT JOIN viewspot h ON g.viewspot_id=h.id AND h.deleted=0
    LEFT JOIN product_supplier ps on a.product_id = ps.product_id
    LEFT JOIN supplier s on s.supplier_id = ps.supplier_id
    WHERE
    a.deleted = 0
    <if test="productStatus!=null">
      AND a.product_status IN
      <foreach collection="productStatus" open="(" close=")" separator="," item="status">
        #{status}
      </foreach>
    </if>
    GROUP BY a.product_id
    limit 0,500
  </select>
</mapper>